{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="discription" content="Online Whiteboard :NEED OF THE HOUR">
    <meta name="keywords" content="online teaching platform,online whiteboard,teaching onscreen,online collaboration platforms,whiteboard">
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
    <title>Whitesite_Homepage</title>
    <style>
        body{
            padding: 0;
            margin: 0;
             
            background: url("{% static 'image/BG.jpg'%}") no-repeat center center fixed;
            background-size: cover;
            text-emphasis-color: green;
            font-family: 'Merienda';font-size: 22px;
            text-decoration: none;
            color:black;
        }
    </style>
</head>
<body>
    <header class="header">
        <!--left box for logo-->
        <div class="left"> 
            <img src="{% static 'image/wslogo1.jpg' %}" alt="error loading logo">
            <div>WHITESITE</div>
        </div>
        <!--mid box for options-->
        <div class="mid">
             <nav class="navbar">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About </a></li>
                 <li><a href="#">Contact Us</a></li>
             </ul>
        </nav>
                </div>
        <!--right box for buttons-->
        <div class="right">
           <a href="accounts/login" ><button class="btn">LOGIN</button></a>
           <a href="accounts/register" ><button class="btn">SIGN UP</button></a>
        </div>
        <input id="room-name-submit" class="btn" type="button" value="Create Borad">
        <a href="join" ><button class="btn">Join Board</button></a>
        <div class="box1">"ONLINE WHITEBOARD":<br>Need Of The Hour</div>
        <div class="box2">Sketch,Share and Collaborate with your team like never before</div>
        <!-- <div class="box3"><a href="board" ><button class="btn" id="create-board" >CREATE NEW(WHITEBOARD)</button></a></div> -->
        
        <div class="container">
        <div class="box">
        
            <h4 class="heading">SKETCHING</h4>  
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur itaque doloribus nisi laborum in illo. Quia rem animi molestiae iure quis alias quo, inventore esse velit quisquam quos nihil laboriosam modi totam magni nisi odit, quidem ipsa beatae. Placeat iusto exercitationem suscipit saepe debitis.</p>
            
        </div>

        <div class="box">
              
            <h4 class="heading">COLLABORATION</h4>  
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur itaque doloribus nisi laborum in illo. Quia rem animi molestiae iure quis alias quo, inventore esse velit quisquam quos nihil laboriosam modi totam magni nisi odit, quidem ipsa beatae. Placeat iusto exercitationem suscipit saepe debitis.</p>
            
            
        </div>
        <div class="box">
            

             <h4 class="heading">BRAINSTORMING</h4>  
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur itaque doloribus nisi laborum in illo. Quia rem animi molestiae iure quis alias quo, inventore esse velit quisquam quos nihil laboriosam modi totam magni nisi odit, quidem ipsa beatae. Placeat iusto exercitationem suscipit saepe debitis.</p>
            
        </div>
    </div>
    
      
    
</header>
    <script>
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName         = '';
            var length           = 5;
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                roomName += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            console.log(roomName);
                window.location.pathname = '/board/' + roomName;
    };

    </script>

</body>
</html>